#comment-container-open {
    bottom : 50px;
    right : 20px;
    background-color: #F1F1F1;
    padding: 10px;
    border-radius: 3px;
    min-height: 200px;
    height: auto;
    font-size : 13px;
    border : 1px solid #C0C0C0;
}

#comment-container {
    bottom : 50px;
    right : 20px;
    background-color: #F1F1F1;
    padding: 10px;
    border-radius: 3px;
    min-height: 200px;
    height: auto;
    font-size : 13px;
    border : 1px solid #C0C0C0;
}

#comment-header {
    color: black;
    float: left;
    background-color: #F1F1F1;
    border-bottom: 1px solid #C0C0C0;
    font-size: 14px;
    font-weight: bold;
    width:100%;
}

#comment-input-field {
    padding: 3px;
    margin: 0px;
    border: 1px solid grey;
    border-radius:3px;
    height: 75px;
    width: 445px;
    margin-top: 5px;
}

#comment-button {
    padding: 3px;
    margin: 3px;
    border: 1px solid #C0C0C0;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

#comment-messages {
    width: 445px;
    float: left;
    height: 200px;
    overflow-y: scroll;
}

.comment-left {
    color: black;
    float: left;
    min-height: 30px;
    width: 92%;
    background-color: #A8CC76;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}

.comment-right {
    color: black;
    float: left;
    min-height: 30px;
    width: 92%;
    background-color: #DDDDDD;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}